<template>
  <app-layout title="Dashboard">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Dashboard
      </h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-6 py-4">
          <h3 class="font-semibold text-xl mb-3">Welcome to the Dashboard</h3>
          <p class="mb-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem voluptas, illum facere similique placeat velit alias explicabo, distinctio tenetur fugit odit labore. Porro asperiores optio necessitatibus, quasi quos sit cum?
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, aut dolor. Eius qui sint sapiente ab inventore nisi architecto, incidunt dolor provident, expedita officia, id quam velit nam quod maiores?
          </p>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import { defineComponent } from "vue";
import AppLayout from "@/Layouts/AppLayout.vue";

export default defineComponent({
  components: {
    AppLayout,
  },
});
</script>
