<template>
  <h2 class="font-semibold text-xl text-gray-800 leading-tight flex flex-row">
    <div v-for="(crumb, index) in crumbs" :key="index" class="flex flex-row items-center">
      <span>{{ crumb }}</span>
      <ChevronRightIcon class="w-5 h-5 mx-2" v-if="index < crumbs.length-1" />
    </div>
  </h2>
</template>

<script>
import { ChevronRightIcon } from '@heroicons/vue/solid';

export default {
  components: {
    ChevronRightIcon
  },
  props: {
    crumbs: Array,
  },
};
</script>

<style>
</style>