<template>
    <AppLayout title="Create Company">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                <BreadCrumbs :crumbs="['Companies', 'Create']" />
            </h2>
        </template>

        <div>
            <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">
                <JetFormSection @submitted="createCompany">
                    <template #title>
                        Create Company
                    </template>

                    <template #description>
                        Add the information about the new company.
                    </template>

                    <template #form>
                        <!-- Business Name -->
                        <div class="col-span-6 sm:col-span-4">
                            <JetLabel for="business_name" value="Business Name" />
                            <JetInput id="business_name" type="text" class="mt-1 block w-full" v-model="form.business_name" />
                            <JetInputError :message="form.errors.business_name" class="mt-2" />
                        </div>

                        <!-- Email -->
                        <div class="col-span-6 sm:col-span-4">
                            <JetLabel for="email" value="Email" />
                            <JetInput id="email" type="text" class="mt-1 block w-full" v-model="form.email" />
                            <JetInputError :message="form.errors.email" class="mt-2" />
                        </div>

                        <!-- Address -->
                        <div class="col-span-6 sm:col-span-4">
                            <JetLabel for="address" value="Address" />
                            <JetInput id="address" type="text" class="mt-1 block w-full" v-model="form.address" />
                            <JetInputError :message="form.errors.address" class="mt-2" />
                        </div>

                        <!-- Zipcode -->
                        <div class="col-span-6 sm:col-span-4">
                            <JetLabel for="zipcode" value="Zipcode" />
                            <JetInput id="zipcode" type="text" class="mt-1 block w-full" v-model="form.zipcode" />
                            <JetInputError :message="form.errors.zipcode" class="mt-2" />
                        </div>

                        <!-- City -->
                        <div class="col-span-6 sm:col-span-4">
                            <JetLabel for="city" value="City" />
                            <JetInput id="city" type="text" class="mt-1 block w-full" v-model="form.city" />
                            <JetInputError :message="form.errors.city" class="mt-2" />
                        </div>

                        <!-- Province -->
                        <div class="col-span-6 sm:col-span-4">
                            <JetLabel for="province" value="Province" />
                            <JetInput id="province" type="text" class="mt-1 block w-full" v-model="form.province" />
                            <JetInputError :message="form.errors.province" class="mt-2" />
                        </div>

                        <!-- Region -->
                        <div class="col-span-6 sm:col-span-4">
                            <JetLabel for="region" value="Region" />
                            <JetInput id="region" type="text" class="mt-1 block w-full" v-model="form.region" />
                            <JetInputError :message="form.errors.region" class="mt-2" />
                        </div>
                    </template>

                    <template #actions>
                        <JetActionMessage :on="form.recentlySuccessful" class="mr-3">
                            Saved.
                        </JetActionMessage>

                        <JetButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            Save
                        </JetButton>
                    </template>
                </JetFormSection>
            </div>
        </div>
    </AppLayout>
</template>

<script>
    import { defineComponent } from 'vue';
    import AppLayout from '@/Layouts/AppLayout';
    import BreadCrumbs from '@/Components/BreadCrumbs';
    import JetButton from '@/Jetstream/Button.vue';
    import JetFormSection from '@/Jetstream/FormSection.vue';
    import JetInput from '@/Jetstream/Input.vue';
    import JetInputError from '@/Jetstream/InputError.vue';
    import JetLabel from '@/Jetstream/Label.vue';
    import JetActionMessage from '@/Jetstream/ActionMessage.vue';
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue';

    export default defineComponent({
        components: {
            AppLayout,
            BreadCrumbs,
            JetActionMessage,
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
            JetSecondaryButton,
        },

        mounted() {
            console.log('Mounted.');
        },

        data() {
            return {
                form: this.$inertia.form({
                    business_name: '',
                    address: '',
                    zipcode: '',
                    city: '',
                    province: '',
                    region: '',
                    email: '',
                }),
            }
        },

        methods: {
            createCompany() {
                this.form.clearErrors();

                this.form.post(route('company.store'), {
                    errorBag: 'company',
                    preserveScroll: true,
                    onSuccess: () => {
                        console.log('success')
                    }
                });
            }
        },
    })
</script>
