<template>
    <AppLayout title="Import Data">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                <BreadCrumbs :crumbs="['Companies', 'Import Data']" />
            </h2>
        </template>

        <div>
            <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">
                <JetFormSection @submitted="importData">
                    <template #title>
                        Import Data
                    </template>

                    <template #description>
                        Import the company data from an Excel file.
                    </template>

                    <template #form>
                        <div class="col-span-6 sm:col-span-4">
                            <JetLabel for="file" value="Import File" />
                            <input type="file" ref="file">
                            <jet-input-error :message="form.errors.file" class="mt-2" />
                        </div>
                    </template>
                    <template #actions>
                        <JetActionMessage :on="form.recentlySuccessful" class="mr-3">
                            Imported.
                        </JetActionMessage>

                        <JetButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            Import
                        </JetButton>
                    </template>
                </JetFormSection>
            </div>
        </div>
    </AppLayout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout';
    import BreadCrumbs from '@/Components/BreadCrumbs';
    import JetButton from '@/Jetstream/Button';
    import JetFormSection from '@/Jetstream/FormSection';
    import JetInput from '@/Jetstream/Input';
    import JetInputError from '@/Jetstream/InputError';
    import JetLabel from '@/Jetstream/Label';
    import JetActionMessage from '@/Jetstream/ActionMessage';
    import JetSecondaryButton from '@/Jetstream/SecondaryButton';

    export default defineComponent({
        components: {
            AppLayout,
            BreadCrumbs,
            JetActionMessage,
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
            JetSecondaryButton,
        },

        data() {
            return {
                form: this.$inertia.form({
                    file: null,
                })
            }
        },

        methods: {
            importData() {
                if (this.$refs.file) {
                    this.form.file = this.$refs.file.files[0]
                }

                this.form.post(route('company.storeImport'), {
                    errorBag: 'importData',
                    preserveScroll: true,
                    onSuccess: () => {
                        this.form.reset();
                        this.$refs.file.value = '';
                    },
                });
            },
        },
    })
</script>
