<template>
  <AppLayout title="Companies">
    <template #header>
      <BreadCrumbs :crumbs="['Companies']" />
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
          <div class="px-6 py-4 flex flex-col sm:flex-row sm:justify-between bg-gray-50">
            <span class="text-lg mb-2 sm:mb-0">Companies</span>
            <div class="flex flex-col sm:flex-row">
              <input type="text" class="mb-2 sm:mb-0 sm:mr-4 rounded" v-model="searchFilter" @keydown.enter="searchTerm" placeholder="Search">
              <Link :href="route('company.create')" class="px-4 py-2 mb-2 sm:mb-0 sm:mr-4 bg-blue-600 hover:bg-blue-500 active:bg-blue-600 rounded text-white flex flex-row items-center justify-center text-sm">
                <PlusIcon class="w-4 h-4 mr-2" />
                <span>Add Company</span>
              </Link>
              <Link :href="route('company.import')" class="px-4 py-2 mb-2 sm:mb-0 sm:mr-4 bg-blue-600 hover:bg-blue-500 active:bg-blue-600 rounded text-white flex flex-row items-center justify-center text-sm">
                <DatabaseIcon class="w-4 h-4 mr-2" />
                <span>Import Data</span>
              </Link>
            </div>
          </div>
          <table class="table-auto w-full">
            <thead class="border-b">
              <tr class="uppercase text-sm text-gray-600 bg-gray-50 text-left">
                <th scope="col" class="px-6 py-2 ">#</th>
                <th scope="col" class="px-6 py-2">Business Name</th>
                <th scope="col" class="px-6 py-2 hidden md:table-cell">Address</th>
                <th scope="col" class="px-6 py-2 hidden md:table-cell">Email</th>
                <th scope="col" class="px-6 py-2">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="c in pagination.data" :key="c.id" class="border-b text-gray-900 text-sm">
                <td class="px-6 py-2">{{ c.id }}</td>
                <td class="px-6 py-2">{{ c.business_name }}</td>
                <td class="px-6 py-2 hidden md:table-cell">
                  {{ c.address }}, {{ c.zipcode }}, {{c.city }}, {{ c.province }}, {{ c.region }}
                </td>
                <td class="px-6 py-2 hidden md:table-cell">{{ c.email }}</td>
                <td class="px-6 py-2">
                  <Link :href="route('company.show', [c.id])" class="px-2 py-1 bg-gray-500 text-white rounded">
                    <EyeIcon class="w-4 h-4 inline-block" />
                  </Link>
                </td>
              </tr>
            </tbody>
          </table>
          
          
          <div class="p-2 flex flex-row flex-wrap justify-center">
            <div class="bg-gray-50 rounded border overflow-hidden">
              <button v-for="(link, index) in pagination.links" :key="index" :disabled="link.url == null" class="disabled:text-gray-400 disabled:bg-transparent hover:bg-primary hover:text-white" :class="{'text-white': link.active, 'bg-primary': link.active}">
                <a :href="link.url" class="px-4 py-2 inline-block" v-html="link.label"></a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </AppLayout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout';
import BreadCrumbs from '@/Components/BreadCrumbs';
import { PlusIcon, EyeIcon, DatabaseIcon } from '@heroicons/vue/outline';
  import { Link } from '@inertiajs/inertia-vue3';

export default {
  name: 'CompanyIndex',
  props: {
    pagination: Object,
  },
  components: {
    AppLayout,
    BreadCrumbs,
    PlusIcon,
    EyeIcon,
    DatabaseIcon,
    Link,
  },
  mounted() {
    console.log('mounted');
    this.searchFilter = route().params.search
  },
  created() {
    console.log('created');
  },
  data() {
    return {
      searchFilter: ''
    };
  },
  methods: {
    searchTerm(event) {
      // route params
      const params = route().params;
      params.search = this.searchFilter ? this.searchFilter : undefined;
      delete params.page;

      this.$inertia.get(route(route().current()), params, {
        preserveState: true
      });
    }
  }
}
</script>

<style>

</style>