<template>
  <AppLayout :title="company.business_name">
    <template #header>
      <BreadCrumbs :crumbs="['Companies', company.business_name]" />
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-6 py-4">
          <div class="flex flex-row justify-between mb-4">
            <h3 class="text-xl font-semibold">{{ company.business_name }}</h3>
            <div class="flex flex-col sm:flex-row justify-self-auto">
              <Link :href="route('company.edit', [company.id])" class="px-3 py-1 flex flex-row items-center text-white bg-blue-500 rounded mb-2 sm:mb-0 sm:mr-2">
                <PencilIcon class="w-4 h-4 mr-2" />
                <span>Edit</span>
              </Link>
              <button @click="askConfirmDeletion" class="px-3 py-1 flex flex-row items-center text-white bg-red-500 rounded">
                <TrashIcon class="w-4 h-4 mr-2" />
                <span>Delete</span>
              </button>
            </div>
          </div>
          <p class="text-xs text-gray-600 mb-4">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio
            numquam eaque delectus tenetur commodi in a nam omnis, error quos
            hic corporis laborum soluta non sit pariatur, quam, alias similique?
          </p>

          <div class="flex flex-col sm:flex-row justify-between">
            <table class="table w-full">
              <tr class="h-10 border-b-1-red">
                <td class="whitespace-nowrap pr-2">Business Name:</td>
                <td>{{ company.business_name }}</td>
              </tr>
              <tr class="h-10 border-b-1-red">
                <td class="whitespace-nowrap pr-2">Email:</td>
                <td>{{ company.email }}</td>
              </tr>
              <tr class="h-10 border-b-1-red">
                <td class="whitespace-nowrap pr-2">Address:</td>
                <td>{{ company.address }}</td>
              </tr>
              <tr class="h-10 border-b-1-red">
                <td class="whitespace-nowrap pr-2">Zipcode:</td>
                <td>{{ company.zipcode }}</td>
              </tr>
              <tr class="h-10 border-b-1-red">
                <td class="whitespace-nowrap pr-2">City:</td>
                <td>{{ company.city }}</td>
              </tr>
              <tr class="h-10 border-b-1-red">
                <td class="whitespace-nowrap pr-2">Province:</td>
                <td>{{ company.province }}</td>
              </tr>
              <tr class="h-10 border-b-1-red">
                <td class="whitespace-nowrap pr-2">Region:</td>
                <td>{{ company.region }}</td>
              </tr>
            </table>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24821.83234530497!2d16.258268753106424!3d40.92888853079934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sit!4v1647383677348!5m2!1sen!2sit" class="w-full border-0" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>
    </div>

    <JetDialogModal :show="confirmDeletion" @close="closeModal">
      <template #title>Delete Company?</template>
      <template #content>
        Are you sure you want to delete this company?
      </template>
      <template #footer>
        <JetSecondaryButton @click="closeModal">
          Cancel
        </JetSecondaryButton>

        <JetButton class="ml-3" @click="deleteCompany" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
          Delete
        </JetButton>
      </template>
    </JetDialogModal>

  </AppLayout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout';
import BreadCrumbs from '@/Components/BreadCrumbs';
import JetDialogModal from '@/Jetstream/DialogModal';
import JetButton from '@/Jetstream/Button';
import JetSecondaryButton from '@/Jetstream/SecondaryButton';
import { PencilIcon, TrashIcon } from '@heroicons/vue/solid';
import { Link } from '@inertiajs/inertia-vue3';

export default {
  components: {
    AppLayout,
    BreadCrumbs,
    PencilIcon,
    TrashIcon,
    JetDialogModal,
    JetButton,
    JetSecondaryButton,
    Link,
  },
  props: ['company'],
  data() {
    return {
      confirmDeletion: false,
      form: this.$inertia.form(),
    }
  },
  methods: {
    askConfirmDeletion() {
      this.confirmDeletion = true;
    },
    closeModal() {
      this.confirmDeletion = false;
    },
    deleteCompany() {
      this.form.delete(route('company.destroy', [this.company.id]), {
        preserveScroll: true,
        onSuccess() {
          console.log('success');
        }
      })
    }
  }
};
</script>

<style>
</style>